<div class="container">
    <div class="align_center">
        <div class="layout-topbar">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6">
                        <div class="logo">
                           <h2><span>Dev</span>Luccas</h2>
                        </div>
                    </div>

                    <div class="col-md-6 menu_links">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">CURRÍCULO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">SOBRE</a>
                            </li>
                            <li class="nav-item link_buttom">
                                <a class="nav-link" href="#">CONTATE-ME</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
