<div class="layout-topbar">
    <!-- <a class="layout-topbar-logo" routerLink="">
            <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
            <span>SAKAI</span>
        </a>

        <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>

        <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
            <i class="pi pi-ellipsis-v"></i>
        </button>-->
        <div class="container d-flex justify-content-end menu_links">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link " href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CURRÍCULO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PROJETOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ARTIGOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SOBRE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTATO</a>
                </li>
            </ul>
        </div>
</div>
