<div class="background_top">
    <section class="container">
        <div class="row">
            <div
                class="col-md-12 d-flex justify-content-center align-items-center"
            >
                <div>
                    <h1 class="title title_primary">
                        Bem vindo ao meu portifólio!
                    </h1>
                    <p class="sub_title">
                        Aqui tem todos projetos desenvolvidos, artigos e
                        referências.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="container section_default">
    <div class="row">
     <app-section-title class="phrase" title="Projetos" sub_title="Aqui há alguns projetos"></app-section-title>

        <div class="col-md-12 card_grid_projetos">
          <app-card-project title="Lunar" description="Projeto feito em Angular, voltado na experiência do usuário" imageSoruce = "../../../assets/images/lua.jpg" ></app-card-project>
          <app-card-project title="Lunar" description="Projeto feito em Angular, voltado na experiência do usuário" imageSoruce = "../../../assets/images/lua.jpg" ></app-card-project>
          <app-card-project title="Lunar" description="Projeto feito em Angular, voltado na experiência do usuário" imageSoruce = "../../../assets/images/lua.jpg" ></app-card-project>
          <app-card-project title="Lunar" description="Projeto feito em Angular, voltado na experiência do usuário" imageSoruce = "../../../assets/images/lua.jpg" ></app-card-project>
          <app-card-project title="Lunar" description="Projeto feito em Angular, voltado na experiência do usuário" imageSoruce = "../../../assets/images/lua.jpg" ></app-card-project>

        </div>
    </div>
</section>

<section class="section_secondary">
    <div class="container">
        <div class="row">
            <app-section-title title="Artigos" sub_title="Aqui há alguns artigos"></app-section-title>
            <div class="col-md-12 d-flex flex-wrap justify-content-between">

            </div>
        </div>
    </div>
</section>
