@import "./_variables";
@import "./_mixins";
@import "./_preloading";
@import "./_main";
@import "./_topbar";
@import "./_menu";
@import "./_config";
@import "./_content";
@import "./_footer";
@import "./_responsive";
@import "./_utils";
@import "./_typography";

body {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

section {
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}
.section_title {
    text-align: center;
    margin-bottom: 3rem;
    color: var(--text-color);
    h4 {
        font-weight: 700;
        font-size: 2rem;
    }
    p {
        font-weight: 300;
        font-size: 1.5em;
    }
}

@media (max-width: 500px) {
    .section_title {
        margin-bottom: 2rem;
    }
}
