@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@-webkit-keyframes color-change-2x {
    0% {
        background: #19dcea;
    }
    100% {
        background: #b22cff;
    }
}
@keyframes color-change-2x {
    0% {
        background: #19dcea;
    }
    100% {
        background: #b22cff;
    }
}

.banner_grid {
    display: grid;
}
.grid_cl_2 {
    grid-template-columns: 1fr 1fr ;
}

.background_top {
    background-color: var(--banner-background-color);
    padding-top: 8rem;
    -webkit-box-shadow: -5px 20px 51px -26px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -5px 20px 51px -26px rgba(0, 0, 0, 0.3);
    box-shadow: -5px 20px 51px -26px rgba(0, 0, 0, 0.3);
    .title {
        color: var(--banner-text-color);

        .title_primary {
            font-weight: 700;
        }
        .title_secondary {
            color: var(--banner-text-secondary-color);
            font-weight: 700;
        }
        .sub_title {
            font-weight: 100;
            font-size: 1.5em;
            max-width: 65%;
        }
        .title_phrase {
            font-weight: 100;
        }
    }

    .image_title {
        display: flex;
        justify-content: end;
        margin-bottom: 3rem;
        img {
            max-height: 300px;
        }
    }
}



/* Meus Projetos*/

.icons_card span {
    font-size: 6rem;
    color: var(--text-color);
}

.card_paper {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--text-color) !important;
    background-color: var(--card-background-color);
    padding: 3rem;
    -webkit-box-shadow: -5px 20px 51px -26px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -5px 20px 51px -26px rgba(0, 0, 0, 0.3);
    box-shadow: -5px 20px 51px -26px rgba(0, 0, 0, 0.3);
    p {
        font-weight: 300;
        text-align: center;
        width: 80%;
    }
}

.card_paper:hover > h3 {
    display: block;
}

.card_paper:hover {
    -webkit-animation: color-change-2x 2s linear infinite alternate both;
    animation: color-change-2x 2s linear infinite alternate both;
}

/*PROFILE*/
/**************************/
/*
.image_profile img {
    margin-top: 3rem;
    max-width: 100%;
}

.profile_text {
    margin-top: 3rem;
    font-family: "Roboto";
    color: #030080;
}
.profile_text p {
    margin-top: 1.5rem;
    font-weight: 300;
    font-size: 1.3em;
    text-align: justify;
}
.profile_links {
    display: flex;
    justify-content: end;
}
.profile_links a {
    font-family: "Roboto";
    color: #030080;
    margin-top: 3rem;
}*/

@media (max-width: 991px) {
    .image_title img {
        display: none;
    }
    .sub_title {
        font-family: "Roboto";
        font-weight: 200;
        font-size: 1.5em;
        max-width: 100%;
    }
    .phrase h2 {
        font-weight: 200;
        max-width: 100%;
    }
}

.card_base_servico {
    background-color: var(--accent-color);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    p, h5 {

    color: var(--text-color);
    text-align: justify;
}
}
.card_hover_base {
    padding: 0.5rem;
    border-radius: 10px;
    width: 100%;
    .card_servico {
        padding: 1rem;
        background-color: var(--card-background-color);
        border-radius: 10px;
        img {
            max-width: 84px;
        }
    }

}


.card_hover_base:hover {
    background: rgb(107, 186, 255);
    background: linear-gradient(
        90deg,
        rgba(107, 186, 255, 1) 0%,
        rgba(84, 114, 153, 1) 100%
    );
}

.meus_servicos {
    color: var(--text-color);
    h2 {
        font-weight: 900;
    }
    p {
        font-weight: 300;
        font-size: 1.3em;
        text-align: justify;
    }
    .meus_servicos_subtitle {
        color: #80bdf3;
        margin-bottom: 1rem;
    }
}

.meu_cv {
    padding: 1rem;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 1rem;
}


@media (max-width: 500px) {

    .grid_cl_2 {
        grid-template-columns: 1fr 0.6fr ;
    }
    .container {
        margin-top:0;
        margin-bottom: 0.1rem;
    }

    .background_top {
        border-radius: 0px 0px 30px 30px;
        padding:1rem;
        margin-bottom: 3rem;
        box-shadow: -5px 20px 51px -18px rgba(0, 0, 0, 0.5);
        .title {
        width: 100%;
            .title_primary {
                color: var(--banner-text-color);
                font-weight: 700;
                width: 100%;
            }
            .title_secondary {
                color: var(--banner-text-secondary-color);
                font-weight: 700;
            }
            .sub_title {
                font-weight: 300;
                font-size: 1em;
                max-width: 100%;
                color: var(--banner-text-color);
            }
            .title_phrase{
                font-weight: 400;
                font-size: 0.6em;
            }
        }

        .image_title {
            display: flex;
            justify-content: end;
            margin-bottom: 0;
            align-items: end;
            img {
                display: block;
                max-width: 100%;
            }
        }
    }

.margin_top_3{
    margin-top: 3rem;
}

/*CARDS*/

    .card_paper {
        margin-bottom: 1rem;
    }



.card_hover_base {
    padding: 0.5rem;
    border-radius: 10px;
    width: 100%;
    .card_servico {

        padding: 1rem;
        background-color: var(--card-background-color);
        border-radius: 10px;
        div{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        img {
            max-width: 84px;
        }
    }

}


.meus_servicos {
    color: var(--text-color);
    h2 {
        font-weight: 900;
    }
    p {
        font-weight: 400;
        font-size: 1em;
        text-align: justify;
    }
    .meus_servicos_subtitle {
        color: #80bdf3;
        margin-bottom: 1rem;
    }
}

.meu_cv {
    padding: 1rem;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 1rem;
}
}
