<section class="container banner_paper">
    <div class="row">
        <div class="col-md-6 teste">
            <h1 class="title title_primary">DEV</h1>
            <h1 class="title title_secondary">LUCCAS</h1>
            <p class="sub_title">
                Hummm o café ja deve estar quase pronto. Bora tomar um café?
            </p>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-center reference">
            <div class="image_title">
                <img src="../../../assets/images/lamp.png" alt="logo" />
            </div>

            <p>
                "Code is like humor. When you have to explain it, it’s bad." —
                Cory House
            </p>
        </div>
    </div>
</section>

<section class="container">
    <div class="row icons_dev">
        <div class="phrase">
            <h2><span>Chega ai!</span> Vem ver algumas
                coisas que desenvolvi.</h2>
        </div>
        <div class="col-md-4 banner_paper d-flex flex-column justify-content-center">
            <span class="material-symbols-outlined text-center ">
                code
                </span>
                <p>
                    Aqui você vai achar
                    minhas webApis,
                    artigos e muito mais
                </p>
        </div>
        <div class="col-md-4 banner_paper d-flex flex-column justify-content-center">
            <span class="material-symbols-outlined text-center ">
                html
                </span>
                <p>
                    Aqui você vai achar
                    minhas paginas web,
                    artigos e muito mais.
                </p>
        </div>
        <div class="col-md-4 banner_paper d-flex flex-column justify-content-center">
            <span class="material-symbols-outlined text-center">
                integration_instructions
                </span>
                <p>
                    Aqui você vai achar
                    minhas esteiras,
                    artigos e muito mais.
                </p>
        </div>
    </div>
</section>
