
<app-banner>
    <div class="banner_grid grid_cl_2">
        <div class="title">
            <h1 class="title_primary">Olá! Eu sou</h1>
            <h1 class="title_primary">
                <span class="title_secondary">Dev</span> Luccas
            </h1>
            <p class="sub_title">
                Hummm o café ja deve estar quase pronto. Bora tomar um café?
            </p>
            <p class="title_phrase">
                "Code is like humor. When you have to explain it, it's bad."
                — Cory House
            </p>
        </div>

        <div class="image_title">
            <img src="../../../assets/images/astronalta.png" alt="logo" />
        </div>
    </div>
</app-banner>

<section class="container">
    <div class="row icons_card">

        <app-section-title title="Chega ai!" sub_title="Vem ver algumas coisas que desenvolvi."></app-section-title>

        <div
            class="col-md-4 card_paper d-flex flex-column justify-content-center"
        >
            <span class="material-symbols-outlined text-center"> code </span>
            <p>Aqui você vai achar minhas webApis, artigos e muito mais</p>
        </div>
        <div
            class="col-md-4 card_paper d-flex flex-column justify-content-center"
        >
            <span class="material-symbols-outlined text-center"> html </span>
            <p>Aqui você vai achar minhas paginas web, artigos e muito mais.</p>
        </div>
        <div
            class="col-md-4 card_paper d-flex flex-column justify-content-center"
        >
            <span class="material-symbols-outlined text-center">
                integration_instructions
            </span>
            <p>Aqui você vai achar minhas esteiras, artigos e muito mais.</p>
        </div>
    </div>
</section>
<section class="section_default">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card_base_servico">
                    <div class="card_hover_base">
                        <div class="card_servico">
                            <div class="row">
                                <div class="col-md-2">
                                    <img
                                        src="../../../assets/images/dev.png"
                                        alt=""
                                        srcset=""
                                    />
                                </div>
                                <div class="col-md-10">
                                    <h5>Desenvolvedor</h5>
                                    <p>
                                        Desenvolvedor de sistemas e sites, para
                                        qualquer tipo de plataforma, seja
                                        mobile, desktop e web.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_hover_base">
                        <div class="card_servico">
                            <div class="row">
                                <div class="col-md-2">
                                    <img
                                        src="../../../assets/images/consultor.png"
                                        alt=""
                                        srcset=""
                                    />
                                </div>
                                <div class="col-md-10">
                                    <h5>Consultor</h5>
                                    <p>
                                        Consultoria de ponta, análise e projeção
                                        de sistemas para deixar o seu serviço
                                        ainda mais fluido e com a melhor
                                        qualidade.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_hover_base">
                        <div class="card_servico">
                            <div class="row">
                                <div class="col-md-2">
                                    <img
                                        src="../../../assets/images/arquiteto.png"
                                        alt=""
                                        srcset=""
                                    />
                                </div>
                                <div class="col-md-10">
                                    <h5>Devops</h5>
                                    <p>
                                        Automatização de pipelines, gestão de
                                        infraestrutura como código, controle de versão e
                                        monitoramento contínuo para entregas
                                        rápidas e seguras.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 margin_top_3">
                <div class="meus_servicos">
                    <h2>Meus Principais</h2>
                    <h2 class="meus_servicos_subtitle">Serviços</h2>
                    <p>
                        Ofereço serviços completos de desenvolvimento de
                        sistemas e sites para plataformas mobile, desktop e web,
                        criando soluções sob medida para suas necessidades.
                    </p>
                    <p>
                        Minha consultoria em TI foca em análise e projeção de
                        sistemas para otimizar processos e melhorar a qualidade
                        dos serviços.
                    </p>
                    <p>
                        Além disso, atuo na implementação e automação de
                        pipelines de CI/CD, gerenciamento de infraestrutura como
                        código e monitoramento contínuo, garantindo entregas
                        rápidas e seguras, com foco em eficiência e
                        escalabilidade.
                    </p>
                </div>
                <div class="d-flex justify-content-end">
                    <a class="meu_cv">MEU CV</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
<section class="container section_default banner_paper">
    <div class="row">
        <div class="col-md-4">
            <div class="image_profile">
                <img src="../../../assets/images/profile.jpg" alt="" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile_text">
                <h2>Este sou eu!</h2>
                <p>
                    Desde novo, apaixonado por tecnologia, meu maior orgulho é
                    poder fazer a diferença onde eu passo, ajudando e agregando
                    valor a cada coisa.
                </p>
                <p>
                    Um dia ainda vou ser o melhor desenvolvedor do mundo, ou
                    pelo menos o maior amante de tecnologia kk.
                </p>
                <p>
                    Sonho em ser Microsoft MVP, e o que eu puder compartilhar de
                    conhecimento, pode ter certeza que vai estar aqui, neste
                    cantinho.
                </p>
            </div>

            <div class="profile_links">
                <a href="" target="_blank" rel="noreferrer"> Ler Mais</a>
            </div>
        </div>
    </div>
</section>
-->
